.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.image-container img {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.text-container {
    max-width: 500px;
}

@media (min-width: 1130px) {

.container {
    flex-direction: row;
}
.text-container {
    margin-left: 20px;
}

}
