.post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post {
    order: 2;
    max-width: 1000px;
}

.side-bar {
    order: 1;
    min-width: 275px;
    padding-right: 30px;
}

@media (max-width: 768px) {
    .post-container {
        flex-direction: column;
    }
.side-bar {
    order: 3
}
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Space between tags */
    margin-top: 1rem;
}

.tag {
    background-color: #57422a;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    border-radius: 16px;
    font-size: 0.875rem;
    font-weight: 500;
}

.related-articles {
    display: flex;
    flex-direction: column;
}
