.container {
}

.image {
    border: 3px solid #571a11;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    float: left;
    margin: 5px;
    width: 110px;
}

.text {
    max-width: 600px;
    font-size: 1rem;
    line-height: 1.6;
}
