.menuToggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: #a39065;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .menuToggle {
        display: flex;
    }
}
