.container {
    margin: auto;
    max-width: 1200px;
    background-color: #171717; /* Subtle texture-like background */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    padding: 15px;
}

.innerHeader {
    display: flex;
    padding-left: 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    border: 2px solid #571a11;
    padding: 5px;
}
.header h1 {
    color: #eae7dc; /* Light text for the logo/title
    /*font-family: 'Playfair Display', serif; /* Ornate serif for elegance */
    font-size: 3em;
}
.main-container {
    padding: 10px;
    border: 2px solid #571a11;
    border-top: 0;
    border-bottom: 0;
}
.heading {
    color: gray;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
}

.footer {
    border: 2px solid #571a11;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footerImage {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.footerTitle {
    margin: 0;
}
