.container {
    margin: auto;
    max-width: 1000px;
    background-color: #34322d;
    overflow: hidden;
}

.innerHeader {
    display: flex;
    border: 2px solid rgb(109, 13, 0);
    border-radius: 5px;
    padding-left: 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    border: 2px solid rgb(109, 13, 0);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.main-container {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(109, 13, 0);
    border-radius: 5px;
}
.heading {
    color: gray;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
}
